.footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-between;
  background: #383535;
}
.dark .footer{
  background-color: #000000;
}
.mobileMarqueeWrapper{
  display: none;
}
.Containerslist {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.Containers {
  flex-basis: 10%;
  display: flex;
  padding: 10px 30px;
  width: 20px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(66, 66, 66);
  transition: 0.5s;
  border-radius: 30px;
}

.Containers:hover {
  cursor: pointer;
  /* box-shadow: 0px 0px 5px 0px salmon; */
  transform: scale(1.1);
}
/* .Containers:hover img{
  transform:scale(1.2);
  transform:rotate(360deg);
} */
.Containers i {
  font-size: 2em;
}
.Containers span {
  font-size: 1em;
  padding: 0 10px;
}
.Containers img {
  width: 30px;
  height: 30px;
  transition: 1s;
  margin-right:5px;
}

.details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  align-items: center;
}

.head {
  font-size: 4em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.contact {
  flex-basis: 30%;
  display: inline;
  align-items: center;
  border-radius: 15px;
  height: fit-content;
  color: #000;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 0;
  box-shadow:0px 0px 7px 3px #00000033;  
}
.contact .fa {
  font-size: 18px;
  color: #000;
  margin: 10px;
  margin-right: 30px;
}
.dark .contact{
  background: #121212;
  color: white;
}
.dark .contact .fa{
  color: #eeebdd;
}
.contact div {
  display: flex;
  padding: 10px 15px;
}
.contact .fa:hover{
  background: none;
}
.contact span{
  display: flex;
  flex-direction: column;
}
.contact span h3{
  font-size: 16px;
}
.contact span p{
  color: #aaa;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 900;
}

.qualifications {
  height: fit-content;
  flex-basis: 33%;
  box-shadow:0px 0px 7px 3px #00000033;
  border-radius: 15px;
}
.qualifications h3 {
  background: yellow;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.qualifications div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  padding:10px 15px;
  box-sizing: border-box;
  transition: 0.3s;
  background: white;
}
.qualifications div:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dark .qualifications div{
  background-color: #121212;
  color: white;
}

.fiverr {
  flex: 20%;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fiverr h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 10px 15px;
  background-color: #121212;
  border-radius: 8px;
}

.fiverr a {
  background-color: white;
  color: black;
  text-align: center;
  margin: 10px 0;
  padding: 5px 20px;
  transition: 0.5s;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
}
.fiverr a:hover {
  box-shadow: 0px 0px 7px 3px #00000033;
}


@media only screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
  }

  .mobileMarqueeWrapper{
    display: block;
  }
  .mobileMarqueeWrapper img{
    margin: 10px 20px;
    width: 25px;
    padding: 15px;
    background: white;
    height: 25px;
    border-radius: 50%;

  }
  .details {
    flex-direction: column;
  }
  .qualifications{
    padding: 20px 0;
    box-shadow: none;
    width: 90%;
  }
  .Containerslist {
    display: none;
  }
  .Containers {
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .Containers i {
    font-size: 1em;
  }
  .Containers span {
    font-size: 0.7em;
    padding: 5px 0;
  }
  .Containers img {
    width: 20px;
    height: 20px;
  }
  .fiverr{
    width: 80%;
    margin: 20px auto 40px;
  }
  .fiverr h3{
    border:none;
    padding: 5px 10px;
    background: black;
    border-radius: 5px;
  }

  .contact{
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
}
