.footer {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.footer > div {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 50px;
  justify-content: space-between;
}
.dark .footer {
  background-color: rgba(15, 15, 15, 0.8);
}

.Containerslist h4 {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  margin: 20px auto;
  color: #ffcc00;
}

.Containerslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}

.Containerslist > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  row-gap: 40px;
}

.Containers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  color: rgb(66, 66, 66);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  position: relative;
}

.Containers img {
  width: 40px; /* Adjusted for better fit */
  height: 40px;
  transition: transform 0.3s ease;
  object-fit: contain;
}

.Containers span {
  font-size: 1em;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: -20px;
}

.Containers:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.Containers:hover img {
  transform: scale(1.2);
}

.Containers:hover span {
  /* opacity: 1; */
}

.Containers::after {
  content: attr(title);
  position: absolute;
  bottom: -30px; /* Adjusted position */
  background-color: #ffcc00;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.Containers:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.head {
  font-size: 4em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.qualifications {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 80%;
}
.qualifications h3 {
  background: #ffcc00;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.qualifications div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  padding: 20px 15px;
  box-sizing: border-box;
  transition: 0.3s;
  background: white;
}
.qualifications div:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dark .qualifications div {
  background-color: #121212;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
  }

  .mobileMarqueeWrapper {
    display: block;
  }
  .mobileMarqueeWrapper img {
    margin: 10px 20px;
    width: 25px;
    padding: 15px;
    background: white;
    height: 25px;
    border-radius: 50%;
  }

  .qualifications {
    width: 100%;
  }
  .Containerslist {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .Containers {
    width: 40px;
    height: 40px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .Containers i {
    font-size: 1em;
  }
  .Containers span {
    font-size: 0.7em;
    padding: 5px 0;
  }
  .Containers img {
    width: 20px;
    height: 20px;
  }

  .footer > div {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
  }

  .details {
    width: 100%;
  }

  .contact {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
