@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;600&display=swap');

.profile {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background: #fff;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}

.dark .profile {
  background: rgba(15, 15, 15, 0.8);
  color: white;
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.1);
}

/* Left Section - Image */
.image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}

/* Right Section - Introduction */
.intro {
  flex-basis: 60%;
  text-align: left;
  padding: 20px 40px;
}

.intro h2 {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
  color: #ffcc00; /* Yellow color */
  margin-bottom: 10px;
}

.intro p, li {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.8;
  color: #333;
}

.dark .profile li {
  color: white;
}

.intro ul {
  margin: 1rem 0;
}

.intro ul li {
  list-style: none;
}

.dark .intro p {
  color: white;
}

/* CTA Button */
.btn {
  display: inline-block;
  margin-top: 20px;
  background: #ffcc00; /* Adjusted for yellow */
  color: white;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(255, 136, 0, 0.4);
}

/* Responsive Design */
@media only screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    width: 90%;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
  }

  .image {
    margin-bottom: 20px;
  }

  .intro h2 {
    font-size: 2.5rem;
  }

  .intro p {
    font-size: 1rem;
  }

  .btn {
    width: 200px;
  }
}
