@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

.HobbiesWrapper {
  width: 80%;
  display: flex;
  margin: 50px auto;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  transition: 0.3s;
  padding: 40px;
}
.dark .HobbiesWrapper {
  background-color: rgba(15, 15, 15, 0.8);
  color: #fff;
  box-shadow: 0px 0px 7px 2px #999;
}
h2.hobbiesHeading {
  font-size: 2.5em;
  font-family: "Pacifico", cursive;
  margin: 20px auto;
  color: #ffcc00;
}
.hobbiesCardContainer {
  width: 100%;
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.hobbiesCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 25%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ffcc00;
  border-radius: 20px;
  transition: 0.5s;
  flex-direction: column;
}
.dark .hobbiesCard {
  background-color: #272727;
}
.hobbiesCard:hover {
  background-color: #ffcc00;
}
.hobbiesCard img,
.hobbiesCard h5 {
  transition: 0.3s;
}
.hobbiesCard:hover img {
  transform: rotate(20deg);
}
.hobbiesCard:hover h5 {
  color: #121212;
}
.hobbiesCard h5 {
  font-size: 2em;
  font-family: "Rubik Distressed", cursive;
  font-weight: 400;
  margin-top: 30px;
}

.hobbiesCard img {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 1000px) {
  .HobbiesWrapper {
    width: 90%;
    box-sizing: border-box;
  }

  h2.hobbiesHeading {
    font-size: 2em;
  }
  .hobbiesCard {
    width: 250px;
    flex-basis: auto;
    justify-content: space-evenly;
  }
  .hobbiesCard h5 {
    font-size: 1em;
    flex-basis: 50%;
  }
  .hobbiesCard img {
    width: 80px;
    height: 80px;
  }

  .hobbiesCardContainer {
    margin: auto;
    row-gap: 5px;
  }
}
