* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.app {
  background: url(https://i.postimg.cc/yxkWbpFV/gifmock.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  backdrop-filter: blur(20px);
}
.dark.app{
  background: url(https://i.postimg.cc/KzzQF7xY/gifmock-1.gif);
}
a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  

  .app{
    min-height: 100vh;
  }

}
